#################
## Node
#################
/node_modules

#################
## Jetbrains
#################
.idea
.idea/
.idea/**.**

#################
## Misc
#################
.DS_Store
lib/.DS_Store
